<% content_for :title do %>About<% end %>
<div class="container">
<h3>About</h3>
<p>
A Web Developer and Animator based in Melbourne, Australia, Sam Samai has a Postgraduate Diploma in Animation and Interactive Media (RMIT) and a Bachelor Degree in Computer Science (Monash), and he has directed and animated 2 short films, ‘The Blind Caterpillar’ (2:35) and ‘Kaulah’ (6:35), a 2D hand-animated film using a combination of Paint on Glass and Digital 2D techniques. ‘Kaulah’ has been shown internationally and toured with the Australian International Animation Festival.</p>
<p>
After working in the games industry for 2 years as a User Interface developer, Sam focused on Web Development working with WordPress, Prestashop, Ruby on Rails, HTML, CSS, Sass, Flash, Actionscript, PHP and Javascript.</p>

<p>With his experience as a Systems Administrator and many years working as a Freelancer, Sam is a <em>can do</em> person who is able to tackle any problem and always has a thirst for learning new things whether it would be learning a new programming language or learning to build a strawbale house.</p>
</div>