/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require colorbox-rails
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
*/


#logo{
  min-height:40px;
  a {
    color:white;
    font-size:200%;
  }
}

#fs_menus {
  float:right;
  font-size: 120%;
}

#search-box {
  display:table; 
  margin:0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#fs_pagi {
  clear:both;
  display:table; 
  margin:0 auto;
}

.fs_thumbnail img{
  margin:10px;
}

.item {
  width:21.5%;
}

#images_container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

footer nav {
  border-radius:0px !important;
}

#fs_copyright {
  text-align: center;
  color: rgb(158, 157, 157);
  margin-top: 15px;
}

#no-results {
  text-align:center;
}

#loading-indicator {
  margin-bottom:30px;
}